<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<div class="container text-center">
<h1 style="text-align:center;"><u>Password Generator</u></h1>
<a href="{% url 'about' %}">ABOUT</a>
    <form action="{% url 'password' %}" align="center">
        <label>Choose your requirements from below options</label>
        <br><br>
        <label>Length</label>
        <select name="length">
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10", selected="selected">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
        </select>

        <br><br>
        <input type="checkbox" name="uppercase">  Uppercase

        <input type="checkbox" name="numbers">  Numbers

        <input type="checkbox" name="special">  Special Characters
        <br><br><br>
        <input type="submit", name="genpass", value="Generate Password", class="btn btn-info">
    </form>
</div>
</body>
</html>